body {
	font-family: "San Francisco Display", "PingFang SC", sans-serif;
}

footer {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

.container-fluid {
	margin-left: auto;
	margin-right: auto;
	width: 340px;
}

.title {
	background-color: rgb(48, 166, 203);
	color: rgb(235, 235, 235);
}

.good {
	background: rgb(255, 238, 68);
	margin-bottom: 1px;
}

.goodWord {
	height: 100%;
}

.goodList {
	background: rgb(255, 255, 170);
	left: 1px;
	position: relative;
}

.bad {
	background-color: rgb(255, 68, 68);
}

.badWord {
	color: white;
	height: 100%;
}

.badList {
	background: rgb(255, 221, 210);
	left: 1px;
	position: relative;
}

.mainStuff {
	color: #444;
	font-size: 15pt;
	font-weight: bold;
	line-height: 150%;
	margin-top: 10px;
}

.mainStuffAdd {
	color: #777;
	font-size: 11pt;
	font-weight: normal;
	line-height: 110%;
	margin-bottom: 10px;
}

.addon {
	margin-bottom: 60px;
	margin-top: 18px;
}

.bigBlue {
	color: rgb(74, 148, 201);
	font-weight: bold;
}

@media screen and (max-width: 480px) {
	footer {
		width: 320px;
	}
}

@media screen and (max-width: 320px) {
	footer {
		width: 100%;
	}
	.container-fluid {
		width: 100%;
	}
}